{% extends "layout.html" %}
{% block body %}
	<h3>Fill out the following to follow your Hacker School batch on GitHub</h3>

  	<form name="input" action="/" method="post">
	<d1>
	  	<dt>Hacker School username: 
	  	<dd><input type="text" name="HS-username">
	  	<dt>Hacker School password: 
	  	<dd><input type="password" name="HS-password">
	  	<dt>GitHub username: 
	  	<dd><input type="text" name="GH-username">
	  	<dt>GitHub password: 
	  	<dd><input type="password" name="GH-password">
	  	<dd><input type="submit" name='login' value="Follow!">

	</d1>
</form>
{% endblock %}